*.o
.DS_Store
.*.swp
/env
/dl
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.directory
.config
.config.old
*.kate-swp
*.tar.gz
.config-*